@import "./reset.scss";

main {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #eeeeee;
}

canvas {
  width: 100%;
  height: 100%;
  background-color: #eeeeee;
  display: block;
  position: relative;
  z-index: 10;
  transition: all .3s ease-out;
  &.game-over {
    filter: grayscale(100%);
  }
}

.menu {
  width: 100%;
  height: 100%;
  font-size: 28px;
  line-height: 34px;
  color: #ffffff;
  text-align: center;
  /* background: radial-gradient(
    ellipse at center,
        rgba(6, 18, 33, 1) 0%,
        rgba(6, 18, 33, .9) 40%,
        rgba(6, 18, 33, .7) 70%,
        rgba(6, 18, 33, 0) 100%
  ); */
  background: url("../assets/bg.png") no-repeat center;
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 20;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
  translate: opacity 0.2s ease-out;

  &.open {
    opacity: 1;
    pointer-events: all;
  }

  & li {
    cursor: pointer;
    transition: color 0.3s ease-out;
    &:hover {
      color: orange;
    }
    &.selected {
      color: orange;
    }
  }
}

// Overlay text animation
@keyframes textColor {
  from {
    color: #ffffff;
  }
  to {
    color: orange;
  }
}

.init-overlay {
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(3,3,70,1) 35%, rgba(2,0,36,1) 85%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  
  &__text {
    font-size: 24px;
    text-align: center;
    color: #fff;
    animation: textColor 1.2s ease-out infinite alternate;
  }
}
